body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.werty{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    width: 60%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 51, 151);
}
#password-generator{
    height: 85vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 12, 80);
    align-items: center;     
}
#password-generator .butt{
    background-color: white;
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    border: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 440px;
}
#password-output{
    margin-top: 5%;
    width: 70%;
    height: 75px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(78, 29, 109);
}
.range{
    margin-top: 2%;
    width: 80%;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.flex{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    height: 60vh;
    width: 80%;
    
}
.inp{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.boutton{
    width: 100%;
    margin-top: 5%;
    height: 50px;
    display: flex;
    justify-content: center;
    /* visibility: hidden; */
    
}
.boutton button{
    border: blueviolet;
    width: 100%;
    font-size: 1.5rem;
    /* visibility: hidden; */
    cursor: pointer;
    font-weight: bolder;
    color: blueviolet;
    background-color: yellow;
}